body{
    background:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('netflix.png');
    background-size: cover;
}
.navbar{
    margin: 25px 35px 0px;
    display: flex;
    justify-content: space-between;
}
#btn1{
    background-color: black;
    color: white;
    border: 1px solid white;
    padding: 10px 15px;
    border-radius: 5px;
    opacity: 0.8;
}
#btn2{
    border: none;
    background-color: red;
    color: white;
    padding: 10px 15px;
    margin-left: 20px;
    border-radius: 5px;
}
.description{
    margin-top: 150px;
    color: white;
    text-align: center;
}
.description h1{
    font-size: 64px;
    margin: 0;
}
.description #para1{
    font-size: 26px;
    margin: 0;
}
.description #para2{
    font-size: 20px;
}
.signIn_form{
    display: flex;
    justify-content: center;
}
.signIn_form input{
    height: 50px;
    width: 500px;
}
.signIn_form button{
    background-color: red;
    font-size: 24px;
    border: none;
    color: white;
    width: 200px;
}